@import '@fontsource/orbitron';
@import '@fontsource/ibm-plex-sans';
@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for WebKit browsers */
/* Apply these to the element that has overflow-y-scroll */
/* In our case, it is the <main> tag in page.tsx */

/* For the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* For the scrollbar track background */
::-webkit-scrollbar-track {
  background: #301959; /* A slightly lighter shade of your primary for the track */
  border-radius: 5px;
}

/* For the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #FF4081; /* Your secondary pink color */
  border-radius: 5px;
  transition: background 0.5s ease;
}

/* For the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E00070; /* A slightly darker pink for hover */
}

/* Custom select styles */
.custom-select {
  @apply appearance-none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  padding-right: 2.5rem;
}

select.custom-select:invalid {
  @apply text-white/40;
}

select.custom-select option {
  background-color: #1a1a2e;
  color: white;
}
